/* generics */
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html {
    font-size: 62.5%;
    font-family: "Bai Jamjuree", sans-serif;
    color: hsl(201, 11%, 66%);
}
body {
    margin: 1% auto;
    font-size: 2rem;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/* end generics */


